<!DOCTYPE html>
<html>
    <head>
        <title>Espacios</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>
    </head>
    <body>
        <h1>Espacios</h1>
        <table>
            <tr>
                <th class="id"><h3>Id</h3></th>
                <th class="nombre"><h3>Nombre</h3></th>
                <th class="descripcion"><h3>Descripcion</h3></th>
                <th class="fecha"><h3>Direccion</h3></th>
                <th class="estatus"><h3>Estatus</h3></th> 

            </tr>
            <% respuesta.forEach(r => { %>
                <tr>
                    <td><%=r.id_espacio  %></td>
                    <td><%= r.nombre  %></td>
                    <td><%= r.descripcion  %></td>
                    <td><%= r.direccion%></td>
                    <td><%= r.estatus  %></td>
                </tr>
            <% }) %>
        </table>

    </body>
</html>