<!DOCTYPE html>
<html>
    <head>
        <title>Reservas</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>
    </head>
   
    <body>
        <h1>Reservas</h1>
        <table>
            <tr>
                <th><h3>Id Reserva</h3></th>
                <th><h3>Id Solicitante</h3></th>
                <th class="fecha"><h3>Fecha de Inicio</h3></th>
                <th class="fecha"><h3>Fecha de Culminacion</h3></th>
                <th><h3>Motivo</h3></th>
                <th><h3>Id Personal Tecnico</h3></th>
                <th><h3>Id Equipo</h3></th>
                <th><h3>Id Espacio</h3></th>
            </tr>
            <% respuesta.forEach(r => { %>
                <tr>
                    <td><%= r.id_reserva  %></td>
                    <td><%= r.id_solicitante %></td>
                    <td><%= r.fecha_de_inicio.toLocaleDateString() %></td>
                    <td><%= r.fecha_de_culminacion.toLocaleDateString() %></td>
                    <td><%= r.motivo  %></td>
                    <td><%= r.id_pt  %></td>
                    <td><%= r.id_equipo  %></td>
                    <td><%= r.id_espacio  %></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>
